.contact{
    background: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    width: 100%;
    h5{
        font-size: 1.2rem;
    }
    .contact-container{
        // background: red;
        width: 95%;
        margin: 0 auto;
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    div{
        width: 80%;
        input, textarea{
            width: 100%;
            height: 30px;
            padding-left: 5px;
            margin-bottom: 5px;
            resize: none;
            outline: none;
            background: gray;
            border: none;
            transition: all .4s ease;
            
            &::placeholder{
                color: rgb(2, 1, 1);
            }
            &:focus{
                background: white;
            }
        }
        textarea{
            height: 80px;
        }
        button{
            width: 100%;
            height: 35px;
            // margin-left: 2.5%;
            // margin: 0 auto;
            color: rgb(34, 34, 34);
            font-weight: 600;
            border: none;
            background: rgb(46, 228, 0);
            cursor: pointer;
        }
    }

}