.contact {
  background: #5a5a5a;
  color: white;
  width: 100%;
}

.contact h5 {
  font-size: 1.2rem;
}

.contact .contact-container {
  width: 80%;
  margin: 0 auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

form div {
  width: 80%;
}

form div input, form div textarea {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  margin-bottom: 5px;
  resize: none;
  outline: none;
  background: gray;
  border: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

form div input::-webkit-input-placeholder, form div textarea::-webkit-input-placeholder {
  color: #020101;
}

form div input:-ms-input-placeholder, form div textarea:-ms-input-placeholder {
  color: #020101;
}

form div input::-ms-input-placeholder, form div textarea::-ms-input-placeholder {
  color: #020101;
}

form div input::placeholder, form div textarea::placeholder {
  color: #020101;
}

form div input:focus, form div textarea:focus {
  background: white;
}

form div textarea {
  height: 80px;
}

form div button {
  width: 100%;
  height: 35px;
  color: #222222;
  font-weight: 600;
  border: none;
  background: yellow;
  cursor: pointer;
}

.home {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.home .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

.home .cta button {
  background: blue;
  color: white;
  border: none;
  height: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home .cta div > i {
  color: white;
  font-size: 2rem;
  animation: arrow 1s ease-in-out infinite alternate-reverse;
}

.home .home-container {
  height: 100%;
  background: #38004e url(../images/vanilla-cake-600x900.jpg);
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.home .home-container .slogan {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home-container .slogan .slogan-msg {
  background-blend-mode: overlay;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  color: #e9b406;
}

.home .home-container .slogan .slogan-msg div {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-container .slogan .slogan-msg div:nth-child(1) {
  height: 60%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/ span 2/span 3;
}

.home .home-container .slogan .slogan-msg div:nth-child(2) {
  height: 50%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/ span 3/span 2;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav {
  background: transparent;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

nav .logo {
  font-size: 1.3rem;
  cursor: pointer;
}

nav .list-links {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav .list-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}

nav .list-links ul li {
  color: yellow;
}

nav .list-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .burger {
  cursor: pointer;
  z-index: 101;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background: black;
  margin: 2px;
}

footer {
  width: 100%;
  background: #222;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-icons {
  width: 100%;
  color: #c7c7c7;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-icons ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

footer .social-icons ul li {
  cursor: pointer;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  padding: 5px;
}

.reviews {
  color: unset;
}

.reviews-container {
  background: #d8d8d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.reviews-container::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, from(purple), to(black));
  background: linear-gradient(left, purple, black);
  border-radius: 3px;
}

.reviews-container::-webkit-scrollbar {
  background: #272525;
  width: 10px;
  height: 10px;
}

.reviews-container::-webkit-scrollbar-thumb {
  background: #660066;
  height: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.review-card {
  height: 230px;
  width: 90%;
  min-width: 400px;
  margin: 0 15px;
  background: #c4c4c4;
  border-radius: 4px;
  position: relative;
}

.review-card .avatar {
  width: 56px;
  height: 56px;
  position: relative;
  position: absolute;
  top: 10px;
  left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-card .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-card .avatar .half-circle {
  stroke: #5b0085;
  stroke-width: 8;
  fill: none;
  width: 48px;
  height: 48px;
  stroke-linecap: round;
  position: absolute;
  bottom: 0;
  left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.review-card .review-data {
  width: 98%;
  height: 160px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.review-card .review-data .reviewer {
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 600;
}

.review-card .review-data .review-date {
  border-bottom: dotted 1px orange;
}

.review-card .review-data .review-message {
  color: #7f7c7c;
}

.products {
  width: 100%;
  background: #aa7575;
}

.products .products-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.products .products-container .product-card {
  background: rgba(0, 0, 0, 0.6);
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .products-container .product-card .product-name {
  font-size: 1.1rem;
  cursor: pointer;
}

.products .products-container .product-card .product-cta {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .products-container .product-card .product-cta button {
  width: 100%;
  background: orange;
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
}

.products .products-container .product-card .product-price {
  color: white;
}

.products .products-container .product-card .product-price::before {
  content: "Ksh. ";
}

.products .products-container .product-card .product-image {
  width: 100%;
  height: 70%;
  border: 2px solid black;
}

.products .products-container .product-card .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

html {
  width: 100vw;
  max-width: 100%;
}

body {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body main {
  width: 100%;
}

body section {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */