@import './contact.scss';
@import './home.scss';
@import './nav.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    // background: purple;
    main{
        width: 100%;
    }
    section{
        width: 100%;
        &:first-child{
            margin: 0 auto;
        }
    }
}
